/**
*********************
* Theme typography to de
********************
**/
@import "../settings/colors";
@import "../settings/variables";

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: $space--l;
  color: $color--primary;
  font-family: $font-family;
  font-weight: $font-weight--bold;
  line-height: $line-height;
}

a {
  transition: color $transition-time ease-in-out;
  text-decoration: underline;
  color: $color--link;

  &:hover,
  &:focus {
    color: $color--link-hover;
  }
}

p {
  margin: 0 auto $space--m auto;
  font-family: $font-family--secondary;
  font-size: $font-size;
  line-height: $line-height;

  &:last-child {
    margin-bottom: 0;
  }
}
