/**
*********************
* Main navigation
********************
**/

#header nav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  > a {
    padding: $space--s;
    text-decoration: none;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight--bold;
  }
}
